<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.3.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net48" />
  <package id="Quamotion.DiscUtils" version="1.0.3" targetFramework="net461" />
  <package id="SharpCompress" version="0.40.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net48" />
  <package id="System.Data.SQLite" version="1.0.109.1" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.109.1" targetFramework="net45" />
  <package id="System.Data.SQLite.EF6" version="1.0.109.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Linq" version="1.0.109.0" targetFramework="net45" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="ZetaLongPaths" version="1.0.0.24" targetFramework="net461" />
  <package id="ZstdSharp.Port" version="0.8.5" targetFramework="net48" />
</packages>